h1, h2, h3,h4 {
  font-family: 'Raleway', sans-serif;
  color: #52381C;
}

p, a {
  font-family: 'Open Sans', sans-serif;
  color: #2C2F2B;
}

#indications{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

#intro {
    height: 1000px;
    margin-left: -10px;
    margin-top: -10px;
    width: 101%;
    background: url('../img/01_01.png') no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



/* backgroundsize animation */
#intro{
    background-size: 200%;
    background-position: top ;
        -webkit-animation: mymove 8s forwards ease; /* Safari 4.0 - 8.0 */
  animation: mymove 8s forwards ease;
 
 
 
    
}



/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    100% {background-size: 100%;
        background-position: 100%;}
  }
  
  @keyframes mymove {
    100% {background-size: 100%;
        background-position: 100%;}
  }
/* backgroundsize animation END */
 
  /* The animatable fade: IT GUORKS! <3  */
.CSSFade {
    
    animation: 3s fadeIn;
    animation-delay: 8.5s;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

  

#intro .content img {
    position: absolute
;
    top: 48%;
    left: 25%;
    width: 50%;
    margin: 0 auto;
    opacity: 0%;
}




.footer-container {
  
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);

}
.footer-container .wrapper {
    max-width: none;
    margin: 0 10%; 
    margin-left: 0 auto;
    
    
}
.lighttheme {
  background-color: #2E2F52;
  color: #D4F8C0;

}
.footer-container h3 {
    margin: 0;
    padding: 20px 0;
    font-weight: normal; 
}



.botomnavbar ul {
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;    
  }
  
  .botomnavbar li {
    
    display: inline-block;
    
  }
  
  .botomnavbar  li a {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    padding: 16px;
    text-decoration: none;
  }
  
  .botomnavbar li a:hover {
    background-color: rgba(157, 237, 180, 0.5);}

    .bottomtext
    {
        color:rgba(255, 255, 255, 0.5);
        text-align: center;
        font-variant: small-caps;
    }
  
.botomnavbar ul {
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;    
  }
  
  .botomnavbar li {
    
    display: inline-block;
    
  }
  
  .botomnavbar  li a {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    padding: 16px;
    text-decoration: none;
  }
  
  .botomnavbar li a:hover {
    background-color: #9DEDB4;}
  
    .botomnavbar  li a:hover {
      color:black;
    }

    .bottomtext
    {
        color:rgba(255, 255, 255, 0.5);
        text-align: center;
        font-variant: small-caps;
    }
 

  .botomnavbar2 ul {
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;    
  }
  
  .botomnavbar2 li {
    
    display: inline-block;
    
  }
  
  .botomnavbar2  li a {
    display: block;
    color: #2E2F52;
    padding: 16px;
    text-decoration: none;
  }
  
  .botomnavbar2 li a:hover {
    background-color: #2E2F52;
    color: #fff;}

    .bottomtext2
    {
        color:rgb(43, 30, 30);
        text-align: center;
        font-variant: small-caps;
    }
  